body {
    background-color: #F5F5F5;
    color: #40407A;
    font-family: Verdana, Arial, sans-serif;
}

header {
    background-color: #80CBC4;
    text-align: center;
    padding: 20px;
}

h1 {
    line-height: 200%;
}


nav {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

nav a {
    text-decoration: none;
}

.studio {
    font-style: italic;
}

footer {
    background-color: #80CBC4;
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    padding: 10px;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
